.sidebar__item {
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: background-color .5s;

  &:not(:first-child) {
    margin-top: 8px;
  }

  & li {
    display: flex;

    & .item__content {
      transition: opacity .3s;
      &.opacity {
        opacity: 0;
      }
    }

    & .icon {
      margin-right: 16px;
    }
  }
}

.sidebar__item:hover {
  background-color: #8ed7c6;
}
