.nav-footer {
  background: #8ed7c6;
  height: 68px;
  display: flex;
  align-items: center;

  & .nav-footer__avatar {
    display: flex;
    transition: all .3s;
    width: 50px;

    &.collapsed {
      width: 0;
      opacity: 0;
    }
  }

  & .nav-footer__content {
    display: flex;
    overflow: hidden;
    flex: 1;
    height: 100%;
  }
}