.nav-footer {
  min-height: 60px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  & .nav-footer__content {
    display: flex;
    overflow: hidden;
    flex: 1;
    height: 100%;
  }
}