<div class="page">
    <cz-sidebar>
      <nav-head [avatar]="avatar">
        <!-- <cz-icon class="icon" icon="arrow-down-right-circle"></cz-icon> -->
        <span class="s2">Popenko</span> 
      </nav-head>
      <nav-item icon="search">
        <div class="nav-item__wrapper">
          Пошук
        </div>
      </nav-item>
      <nav-item icon="document">
        <div class="nav-item__wrapper">
          Конспект
        </div>
      </nav-item>
      <nav-item icon="help" [routerLink]="'/jjj'">
        <div class="nav-item__wrapper">
          Допомога
        </div>
      </nav-item>

      <nav-footer>

        <div class="footer__content">
          
          <button cz-button  (click)="logout()"><cz-icon icon="logout"></cz-icon></button> 
        </div>
      </nav-footer>
    </cz-sidebar>
</div>