<div class="page">
  <cz-sidebar>
    <nav-head [avatar]="avatar">
      <!-- <cz-icon class="icon" icon="arrow-down-right-circle"></cz-icon> -->
      <span class="s2">Popenko</span>
    </nav-head>
    <nav-item icon="search" [routerLink]="urls.SliderTest" [activeItem]="isRouteActive(urls.SliderTest)">
      <div class="nav-item__wrapper">
        Тест слайдеру
      </div>
    </nav-item>
    <nav-item icon="document" >
      <div class="nav-item__wrapper">
        Тест алерт
      </div>
    </nav-item>
    <nav-item icon="help" [routerLink]="'/jjj'">
      <div class="nav-item__wrapper">
        Допомога
      </div>
    </nav-item>

    <nav-footer>

      <div class="footer__content">

        <button cz-button (click)="logout()"><cz-icon icon="logout"></cz-icon></button>
        <button cz-button (click)="testt()">Test<cz-icon icon="plus"></cz-icon></button>
      </div>
    </nav-footer>

    <nav-content>
      <router-outlet></router-outlet>
    </nav-content>
  </cz-sidebar>


</div>