.sidebar {
  height: 100vh;
  width: 100vw;
  display: flex;

  & .sidebar__menu {
    // box-shadow: 0px 0px 12px 1px rgb(0 0 0 / 50%);
    z-index: 1;
    height: 100%;
    width: 264px;
    background-color: var(--sidebar-color);
    transition: var(--tran-03), width .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;

    & .sidebar__menu-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;

      & .switch-theme {
        display: flex;
        justify-content: center;
        color: var(--text-color);
        // transition: var(--tran-03);
        cz-icon {
          cursor: pointer;
        }
      }

      & .sidebar__items {
        padding: 8px 12px;
        flex: 1;
        overflow-x: hidden;
      }
    }

    &_collapsed {
      width: 80px;

      .sidebar__items {
        overflow-y: hidden;
      }
    }
  }
}
