.sidebar__head {
  height: 52px;
  padding: 16px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  position: relative;

  & .content {
    flex: 1;
    display: flex;
    align-items: center;
    transition: opacity .3s;
    opacity: 1;

    & .nav-head__avatar {
      margin-right: 4px;
    }

    &.opacity {
      opacity: 0;
      overflow: hidden;
    }
  }

  & .nav-collapsed {
    position: absolute;
    right: -16px;
    top: 12px;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.sidebar.dark {
  .nav-collapsed {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
}

.sidebar:not(.sidebar.dark) {
  .nav-collapsed {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
  }
}