.sidebar__head {
  height: 52px;
  padding: 16px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  position: relative;

  & .content {
    flex: 1;
    display: flex;
    align-items: center;

    & .nav-head__avatar {
      margin-right: 4px;
    }

    & .nav-head__content {
      opacity: 1;
      transition: opacity .3s;
      white-space: nowrap;
    }

    & .nav-head__content_collapsed {
      opacity: 0;
    }
  }

  & .nav-collapsed {
    position: absolute;
    right: -16px;
    top: 12px;
    padding: 4px;
    border-radius: 5px;
    z-index: 999;
    cursor: pointer;
  }
}

.nav-collapsed {
  background-color: var(--primary-color);
  color: var(--nav-collapsed-btn-text-color);
}