$purle-1: #776cbb;
$purle-2: #a095e8;
$purle-3: #c6beff;

$red-1: #ff3d3d;
$red-2: #ff7575;
$red-3: #ff9b9b;

$green-1: #1bb96f;
$green-2: #5fbe92;
$green-3: #8ac7ac;

$grey-1: #676767;
$grey-2: #989898;
$grey-3: #d1d1d1;



