:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --additional-color: #fff;
  --primary-color: #695cfe;
  --primary-color1: #695cfe9c;
  --primary-color2: #ada6ff6e;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --opacity: 0.8;

  /* ====== Transition ====== */
  --tran-02: color 0.2s ease, background-color 0.2s ease;
  --tran-03: color 0.3s ease, background-color 0.3s ease;
  --tran-04: color 0.4s ease, background-color 0.4s ease;
  --tran-05: color 0.5s ease, background-color 0.5s ease;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

.dark {
  --body-color: #18191a;
  --additional-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color1: #7f7f7fdb;
  --primary-color2: #6969696e;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --opacity: 0.7;
}


