.cz-overlay-container {
  position: fixed;

  & .cz-overlay-wrapper {
    display: flex;
    position: absolute;

  }
}

.cz-overlay-container,
.cz-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}